	<div id="bar-bottom"></div>
	<div id="footer">
		<p>Written by <a href="about.html">Colby Aley</a> in Portland, Oregon.</p>
		<p><a href="https://alpha.app.net/ca" rel="me">App.net</a> - <a href="http://twitter.com/aley">Twitter</a> - <a href="http://github.com/colbyaley">Github</a></p>
	</div>
<!-- 	This is my stats tracking script. Feel free to change this. Actually, PLEASE do change this. -->
	<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '513c5d9cf5a1f5415600006f');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
  </script>
  <script type="text/javascript" src="js/retina.js"></script>
	</body>
</html>